*{
box-sizing: border-box
}

body {
   
    margin: 0px;
    font-family: 'Nunito', sans-serif;

}

header {
    /* background:url("./images/bg-masthead.jpg") cover center no-repeat ;  */
    background-image: url("./images/bg-masthead.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    padding-top: 1px;
}

.jumbotron {
    background-color: transparent;
}

.btn{
    padding: 1.25rem 2rem;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
}
h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 6.5rem;
    background: -webkit-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.jumbotron p {
    color: rgba(255,255,255,.5)!important;
}

.btn-primary {
    background-color: #64a19d;
}

/* section1 */
.sec1{
    /* background: linear-gradient(to top, #333, #333 40%, #eee 155%, #333 110%); */
    height: 100%;
    background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%,rgba(22,22,22,.8) 100%);
    padding-top: 10rem; 
    letter-spacing: .0625em;
    line-height: 1.5;
    width: 100%;
    /* background-image: url(./images/ipad.png) */
    /* ou pour le padding top 10 rem c'est la taille dont vous avez besoin en px diviser / le font-size par defaut (128px/16=10 rem ou  */
}

.sec1 h2 {
    color: #fff!important;
    margin-bottom: 1.5rem!important;
    font-size: 2rem;
}

.h2, h2 {
    font-size: 2rem;
}

.sec1 p {
    color:  #dc3545;
}

.sec1 img {
    width: 100%;
}
